body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

html {
  height: 100%;
  line-height: 1.8;
scroll-behavior: smooth;
}

body{
  height: 100%;
  line-height: 1.8;
}

/* Full height image header*/ 
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("main.gif");
  min-height: 100%;

}
ul{
  text-decoration-style: none;

}

.happy {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  scroll-behavior: smooth;
}

.happy:hover {  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.happy :after{
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.w3-bar .w3-button {
  padding: 16px;
  font-size: 20px;
}

.hover:hover{
  height:30px;
  width:30px;

}